.hero-section {
    position: relative;
    background-image: url('images/banner.jpg'); /* Verifique o caminho da imagem */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Escurecer a imagem de fundo */
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero-content h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-content .btn {
    font-size: 1.2em;
    padding: 12px 24px; /* Ajuste o padding conforme necessário */
    border: 2px solid white; /* Adicione uma borda branca */
    border-radius: 5px;
    background-color: transparent;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.hero-content .btn:hover {
    background-color: white;
    color: #007BA7;
}
